<script context="module">
  export async function preload({ params, query }) {
    const res = await this.fetch(`blog/${params.slug}.json`);
    const data = await res.json();

    if (res.status === 200) {
      return { post: data };
    } else {
      this.error(res.status, data.message);
    }
  }
</script>

<script>
  import { onMount } from "svelte";
  import formatIsoTime from "../../utils/formatIsoTime";

  export let post;
  export let disqusUrl = "https://frenrihrblog.disqus.com/embed.js";

  const disqus = () => {
    let d = document,
      s = d.createElement("script");
    s.src = disqusUrl;
    s.setAttribute("data-timestamp", +new Date());
    (d.head || d.body).appendChild(s);
  };

  onMount(async () => {
    // Verificamos que el readyState del documento sea "complete", de no ser así nos
    //suscribimos a un evento que nos permite saber cuando este sea "complete", una
    //vez nos aseguremos de eso ejecutamos el disqus() para mostrar nuestro sistema de comentarios.
    document.readyState === "complete"
      ? await disqus()
      : document.addEventListener(
          "readystatechange",
          async () => document.readyState === "complete" && (await disqus())
        );
  });
</script>

<style>
  
  .Post-content {
    background-color: #262626;
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  .Post p {
    color: white;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
  }

  .Post .Post-title {
    padding: 0 20px;
    font-weight: 700;
  }

  .Post .content {
    padding: 0 28px;
  }

  .comments {
    margin: 2em 0 0 0;
  }

  .Post-img img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .Post .date {
    background-color: rgba(28, 41, 56, 1);
    width: 320px;
    text-align: center;
    padding: 5px 20px;
    border-radius: 20px;
    margin: 10px auto 0;
  }
  @media (max-width: 424px) {
    .Post .date {
      width: 100%;
      background: none;
      padding: 0;
      padding-bottom: 5px;
    }
    .Post .date p {
      font-size: 13px;
    }
  }
</style>

<svelte:head>
  <title>{post.title}</title>
  <meta name="description" content={post.desc} />
  <!-- meta para twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@frenrihr_code" />
  <meta name="twitter:creator" content="@frenrihr_code" />
  <meta name="twitter:title" content="Frenrihr" />
  <meta name="twitter:description" content={post.desc} />
  <meta
    name="twitter:image"
    content="https://res.cloudinary.com/de2lf4pvs/image/upload/v1599868659/Frenrihr/cover-blog_kkinqr.png" />
  <!-- meta para og  -->
  <meta name="og:title" content="Frenrihr" />
  <meta name="og:description" content={post.desc} />
  <meta name="og:url" content="https://blog.frenrihr.com" />
  <meta
    name="og:image"
    content="https://res.cloudinary.com/de2lf4pvs/image/upload/v1599868659/Frenrihr/cover-blog_kkinqr.png" />
  <meta name="og:site_name" content="Frenrihr" />
  <meta name="og:locale" content="es_ES" />
  <meta name="og:type" content="article" />
  <!-- meta para fb  
  <meta name="fb:app_id" content="" /> -->
</svelte:head>

<div class="Post">
  <div class="Post-content">
    <div class="Post-img"><img src={post.image} alt={post.title} /></div>
    <div class="Post-title">
      <h1>{post.title}</h1>
    </div>
    <div class="content">
      {@html post.html}
    </div>
    <div class="date">
      <p>
        <time datetime={post.createdAt}>📅 {formatIsoTime(post.createdAt)}</time>
      </p>
    </div>
  </div>
  <div class="comments">
    <div id="disqus_thread" />
  </div>
</div>
