<script context="module">
  export function preload({ params, query }) {
    return this.fetch(`blog.json`)
      .then((r) => r.json())
      .then((posts) => {
        return { posts };
      });
  }
</script>

<script>
  import readingTime from "../../utils/readingTime";
  import emojiTag from "../../utils/emojiTag";
  import formatIsoTime from "../../utils/formatIsoTime";

  export let posts;
</script>

<style>
  .Posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .Blog h1 {
    padding: 0;
    margin: 0 0 1em 0;
  }
  .Post-title {
    font-size: 20px;
    margin: 0 0 0.8em 0;
    padding: 0 0 0 10px;
    border-left: 5px solid #a60808;
  }
  .Post-title p {
    color: white;
    font-size: 13px;
    font-weight: 300;
    margin: 10px 0 0 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: white;
    position: relative;
  }
  h4 > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -5px;
    left: 0;
    background: #a60808;
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: 0.25s linear;
  }
  h4 > a:hover:before,
  h4 > a:focus:before {
    visibility: visible;
    transform: scaleX(1);
  }
</style>

<svelte:head>
  <title>Blog</title>
</svelte:head>

<div class="Blog">
  <h1>Todas las publicaciones</h1>
  <div class="Posts">
    {#each posts as post}
      <div class="Post-title">
        <h4>
          <a href="blog/{post.slug}" rel="prefetch">{emojiTag(post.tag)}
            {post.title}</a>
        </h4>
        <p>
          <time datetime={post.createdAt}>📅 {formatIsoTime(post.createdAt)}</time>
          <span class="dot">.</span>
          <span>{readingTime(post.html)}</span>
        </p>
      </div>
    {/each}
  </div>
</div>
