<script>
  import Header from "../components/Header.svelte";
  import Main from "../components/Main.svelte";
  import Nav from "../components/Nav.svelte";
  import Footer from "../components/Footer.svelte";

  export let segment;
</script>

<style>
  .LayoutPrincipal {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
</style>

<div class="LayoutPrincipal">
  <Header />

  <Nav {segment} />

  <Main>
    <slot />
  </Main>

  <Footer />
</div>
