<style>
  h1,
  h2 {
    color: white;
  }
  .About p {
    color: whitesmoke;
  }
</style>

<svelte:head>
  <title>About</title>
</svelte:head>
<div class="About">
  <h1>Acerca de este sitio</h1>
  <p>
    Este blog fue desarrollado usando os frameworks
    <a href="https://svelte.dev/">Svelte</a>
    y
    <a href="https://sapper.svelte.dev/">Sapper</a>.
  </p>
  <h2>Sobre el creador</h2>
  <p className="mt-2 pt-1">
    Soy un desarrollador web novato de Perú. Estudie en
    <a href="https://www.tecsup.edu.pe/" target="_blank">TECSUP</a>
    y en otras plataformas online como
    <a href="https://platzi.com/" target="_blank">Platzi</a>. Mi curiosidad me
    permite aprender nuevas herramientas y tecnologías facilmente. En mis ratos
    libres elaboro pequeños proyectos para no olvidar lo aprendido. Difruto
    compartir mis conocimientos!
  </p>
  <p>
    Me apasionan el desarrollo frontend, en especial todo aquello que tenga que
    ver con &nbsp;
    <a
      href="https://developer.mozilla.org/es/docs/Web/JavaScript"
      targe="_blank"
      rel="noreferrer">JavaScript</a>. Sin embargo, en mi aventura he logrado
    navegar por el inmenso mar del backend. Todas mis creaciones llevan mi
    firma: @FrenrihrCode
  </p>
</div>
