<svelte:head>
    <title>Contact</title>
</svelte:head>

<style>
	.Contact {
		color: whitesmoke;
	}
</style>

<div class="Contact">
    <h2>Contacto</h2>
    <a href="mailto:carlos.quispe.q@tecsup.edu.pe">Mi correo</a>
</div>