<script context="module">
  export function preload({ params, query }) {
    return this.fetch(`blog.json`)
      .then((r) => r.json())
      .then((posts) => {
        //const posts = data.slice(0,6);
        return { posts };
      });
  }
</script>

<script>
  import Post from "../components/Post.svelte";

  export let posts;
</script>

<style>
  .Posts {
    display: grid;
    justify-content: space-between;
    gap: 15px;
    grid-template-columns: 1fr;
  }
</style>

<svelte:head>
  <title>Frenrihr Blog</title>
  <meta
    name="description"
    content="Blog de un Frontend Developer - Blog de Frenrihr. Aquí publico algunas novedades con respecto a los proyectos que estoy realizando, también podrás encontrar algunos tutoriales acerca del desarrollo web." />
  <!-- meta para twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@frenrihr_code" />
  <meta name="twitter:creator" content="@frenrihr_code" />
  <meta name="twitter:title" content="Frenrihr" />
  <meta
    name="twitter:description"
    content="Blog de un Frontend Developer - Blog de Frenrihr. Aquí publico algunas novedades con respecto a los proyectos que estoy realizando, también podrás encontrar algunos tutoriales acerca del desarrollo web." />
  <meta
    name="twitter:image"
    content="https://res.cloudinary.com/de2lf4pvs/image/upload/v1599868659/Frenrihr/cover-blog_kkinqr.png" />
  <!-- meta para og  -->
  <meta name="og:title" content="Frenrihr" />
  <meta
    name="og:description"
    content="Blog de un Frontend Developer - Blog de Frenrihr. Aquí publico algunas novedades con respecto a los proyectos que estoy realizando, también podrás encontrar algunos tutoriales acerca del desarrollo web." />
  <meta name="og:url" content="https://blog.frenrihr.com" />
  <meta
    name="og:image"
    content="https://res.cloudinary.com/de2lf4pvs/image/upload/v1599868659/Frenrihr/cover-blog_kkinqr.png" />
  <meta name="og:site_name" content="Frenrihr" />
  <meta name="og:locale" content="es_ES" />
  <meta name="og:type" content="article" />
  <!-- meta para fb  
  <meta name="fb:app_id" content="" /> -->
</svelte:head>

<div class="Home">
  <h1>Últimas publicaciones</h1>
  <div class="Posts">
    {#each posts as post}
      <Post {post} />
    {/each}
  </div>
</div>
