<script context="module">
    export function preload({ params, query }) {
      return this.fetch(`blog.json`)
        .then((r) => r.json())
        .then((posts) => {
        const filterPost = posts.filter((post) => post.tag === "tutoriales");
        return { filterPost };
        });
    }
  </script>
  
  <script>
    import Post from "../components/Post.svelte";
  
    export let filterPost;
  </script>
  
  <style>
    .Posts {
      display: grid;
      justify-content: space-between;
      gap: 15px;
      grid-template-columns: 1fr;
    }
  </style>
  
  <svelte:head>
    <title>Tutoriales</title>
  </svelte:head>
  <div class="Tutoriales">
    <h2>Tutoriales</h2>
    <div class="Posts">
      {#if filterPost.length >= 1}
        {#each filterPost as post}
          <Post {post} />
        {/each}
      {:else}
        <p>No se encuentran resultados en esta categoría.</p>
      {/if}
    </div>
  </div>
  