<script context="module">
  export function preload({ params }) {
    return this.fetch(`blog.json`)
      .then((r) => r.json())
      .then((posts) => {
        const filterPost = posts.filter((post) => post.tag === params.category);
        const { category } = params;
        return { filterPost, category };
      });
  }
</script>

<script>
  import Post from "../../components/Post.svelte";

  export let filterPost;
  export let category;
  //const filterPost = posts.filter((post) => post.tag === "proyectos");
</script>

<style>
  .Posts {
    display: grid;
    justify-content: space-between;
    gap: 15px;
    grid-template-columns: 1fr;
  }
</style>

<svelte:head>
  <title>Tag {category}</title>
</svelte:head>
<div class="Category">
  <h2>Resultados de la categoría {category}</h2>
  <div class="Posts">
    {#if filterPost.length >= 1}
      {#each filterPost as post}
        <Post {post} />
      {/each}
    {:else}
      <p>No se encuentran resultados en esta categoría.</p>
    {/if}
  </div>
</div>
