<script>
  import analitycsTracking from "../utils/analytics";
</script>

<style>
  .Header {
    background-color: #262626;
    padding: 1em 20px 0 20px;
  }
  .Header-container {
    display: grid;
    grid-template-columns: minmax(auto, 1024px);
    justify-content: center;
    align-items: center;
  }
  .Header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .Header-content h1 {
    color: white;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.8px;
  }
  .Header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Header-logo a {
    text-decoration: none;
  }
  .Header-logo img {
    width: 100px;
    height: 100px;
    margin-right: 0.8em;
  }
  .Header-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Header-social em {
    color: white;
    margin-bottom: 0.5em;
  }
  .Header-social ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .Header-social li {
    display: inline-block;
    margin: 0 0.5em 0 0;
  }
  .Header-social a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 40px;
  }
  .Header-social a:hover {
    background-color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.65);
  }
  .Header-social img {
    width: 34px;
  }
  .Header-content span {
    display: block;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: normal;
    position: relative;
    padding: 0 20px;
  }
  .Header-content span::after {
    content: "]";
    position: absolute;
    right: 0;
    color: #a60808;
    font-size: 24px;
    font-weight: 700;
    top: -6px;

    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .Header-content span::before {
    content: "[";
    position: absolute;
    left: 0;
    color: #a60808;
    font-weight: 700;
    font-size: 24px;
    top: -6px;

    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  @keyframes opacity {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @-webkit-keyframes opacity {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @-moz-keyframes opacity {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @media (max-width: 768px) {
    .Header {
      padding: 0.5em 18px 0.3em 18px;
    }
    .Header-logo img {
      width: 70px;
      height: 70px;
      border-radius: 70px;
      margin-right: 0.6em;
    }
    .Header-content h1 {
      font-size: 24px;
      letter-spacing: 0.6px;
    }
    .Header-content span {
      font-size: 14px;
      padding: 0 14px;
    }
    .Header-content span::before,
    .Header-content span::after {
      font-size: 18px;
      top: -3px;
    }
    .Header-social em {
      font-size: 12px;
    }
    .Header-social a {
      width: 20px;
      height: 20px;
      border-radius: 20px;
    }
    .Header-social img {
      width: 18px;
    }
  }
  @media (max-width: 580px) {
    .Header {
      padding: 0.5em 10px 0.3em 10px;
    }
    .Header-logo img {
      width: 52px;
      height: 52px;
      border-radius: 52px;
      margin-right: 0.52em;
    }
  }
  @media (max-width: 480px) {
    .Header-social {
      display: none;
    }
    .Header-content {
      justify-content: center;
    }
  }
</style>

<header class="Header">
  <div class="Header-container">
    <div class="Header-content">
      <div class="Header-logo">
        <a href="."><img
            class="logo-img"
            src="logoFrenrihrMejoradoWhite.svg"
            alt="Logo Frenrihr" /></a>
        <h1>Frenrihr{'{Blog}'}<span>El Blog de un desarrollador Web!</span></h1>
      </div>
      <div class="Header-social">
        <em>Mis redes sociales</em>
        <ul>
          <li>
            <a
              href="https://github.com/FrenrihrCode"
              target="_blank"
              rel="noreferrer"
              on:click={analitycsTracking('github')}>
              <img src="github-icon.webp" alt="GitHub" />
            </a>
          </li>
          <li>
            <a
              href="https://twitter.com/FrenrihrCode"
              target="_blank"
              rel="noreferrer"
              on:click={analitycsTracking('twitter')}>
              <img src="twitter-icon.png" alt="Twitter" />
            </a>
          </li>
          <li>
            <a
              href="https://gitlab.com/FrenrihrCode"
              target="_blank"
              rel="noreferrer"
              on:click={analitycsTracking('gitlab')}>
              <img src="gitlab-icon.png" alt="GitLab" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
