<script>
  import Sidebar from "./Sidebar.svelte";
</script>

<style>
  .Main {
    flex: 1;
    background-color: #35354d;
  }
  .Main-container {
    display: grid;
    grid-template-columns: minmax(auto, 1024px);
    justify-content: center;
    align-items: center;
  }
  .Main-content {
    margin: 2em 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 60px;
    justify-content: space-between;
  }
  @media (max-width: 1024px) {
    .Main-content {
      padding: 0 1em;
      grid-template-columns: 1fr;
    }
  }
</style>

<main class="Main">
  <div class="Main-container">
    <div class="Main-content">
      <slot />
      <Sidebar />
    </div>
  </div>
</main>
