<script>
  export let segment;

  let menuExpanded = false;
</script>

<style>
  .Nav {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-weight: 300;
    background-color: #262626;
    position: sticky;
    top: 0;
    z-index: 5;
    padding: 5px 20px;
  }

  .Nav-container {
    display: grid;
    grid-template-columns: minmax(auto, 1024px);
    justify-content: center;
    align-items: center;
  }

  .Nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  ul::after {
    content: "";
    display: block;
    clear: both;
  }

  li {
    display: block;
    float: left;
  }

  [aria-current] {
    position: relative;
    display: inline-block;
    color: white;
  }

  .Nav-left [aria-current] {
    border-color: #a60808;
  }

  a {
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: 300;
    transition: all 0.25s ease-in-out 0s;
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
  }

  .Nav-left li {
    margin: 0.4em 1.8em 0 0;
  }

  .Nav-left li a {
    border-bottom: 3.5px solid #262626;
  }

  .Nav-right li a {
    padding: 5px;
    margin: 0.4em 0.3em 0;
    border: 1.4px solid rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    transition: all 0.4s ease 0s;
  }

  .Nav-right li a:hover {
    color: black;
    background-color: whitesmoke;
    border-color: whitesmoke;
  }
  /* Ilin */
  .link--ilin {
    text-transform: uppercase;
    overflow: hidden;
  }

  .link--ilin span {
    position: relative;
    display: inline-block;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
  }

  .link--ilin:hover span {
    color: white;
    text-shadow: 0 0 10px 10px black;
  }

  .link--ilin span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    line-height: 0.8;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }

  .link--ilin span:last-of-type::before {
    background: #a60808;
  }

  .link--ilin:hover span:last-of-type::before,
  .link--ilin span:first-of-type::before {
    -webkit-transform: translate3d(0, -150%, 0);
    transform: translate3d(0, -150%, 0);
  }

  .link--ilin:hover span:first-of-type::before,
  .link--ilin span:last-of-type::before {
    -webkit-transform: translate3d(0, 150%, 0);
    transform: translate3d(0, 150%, 0);
  }
  .responsive-menu {
    display: none;
    margin: 5px 0;
  }
  .responsive-menu span {
    background-color: #a60808;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .responsive-menu span:hover {
    color: white;
  }
  @media (max-width: 768px) {
    .Nav {
      padding: 5px 10px 5px 18px;
    }
    .Nav-left li {
      margin: 0.4em 1.25em 0 0;
    }
  }
  @media (max-width: 580px) {
    .responsive-menu {
      display: block;
    }
    .Nav-left {
      margin-top: 5px;
      display: none;
      flex-direction: column;
      justify-content: center;
    }
    .Nav-left.expand {
      display: flex;
    }
    .Nav-left li {
      margin: 5px 0;
    }
    .Nav-right {
      position: absolute;
      top: 0;
      right: 10px;
    }
  }
</style>

<nav class="Nav">
  <div class="Nav-container">
    <div class="responsive-menu">
      <span
        on:click={() => (menuExpanded = !menuExpanded)}>{menuExpanded ? 'CERRAR' : 'MENU'}</span>
    </div>
    <div class="Nav-content" id="menu-content">
      <ul class="Nav-left {menuExpanded ? 'expand' : ''}">
        <li>
          <a
            on:click={() => (menuExpanded = false)}
            class="link link--ilin"
            aria-current={segment === undefined ? 'page' : undefined}
            href="."><span>Ini</span><span>cio</span></a>
        </li>
        <li>
          <a
            on:click={() => (menuExpanded = false)}
            class="link link--ilin"
            aria-current={segment === 'blog' ? 'page' : undefined}
            rel="prefetch"
            href="blog"><span>Bl</span><span>og</span></a>
        </li>
        <li>
          <a
            on:click={() => (menuExpanded = false)}
            class="link link--ilin"
            aria-current={segment === 'tutoriales' ? 'page' : undefined}
            href="tutoriales"><span>Tuto</span><span>riales</span></a>
        </li>
        <li>
          <a
            on:click={() => (menuExpanded = false)}
            class="link link--ilin"
            aria-current={segment === 'proyectos' ? 'page' : undefined}
            href="proyectos"><span>Proye</span><span>ctos</span></a>
        </li>
      </ul>
      <ul class="Nav-right">
        <li>
          <a
            aria-current={segment === 'about' ? 'page' : undefined}
            href="about">Acerca</a>
        </li>
        <li>
          <a
            aria-current={segment === 'contact' ? 'page' : undefined}
            href="contact">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
