<style>
  .Newsletter {
    background: rgba(28, 41, 56, 1);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(28, 41, 56, 0.16),
      0 3px 6px rgba(28, 41, 56, 0.23);
  }

  input {
    background-color: white;
    background-image: none;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    color: rgba(0, 0, 0, 0.75);
    display: inline-block;
    font-feature-settings: "tnum";
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    list-style: none;
    margin: 0;
    outline: 0;
    padding: 4px 12px;
    width: 100%;
    box-sizing: border-box;
  }

  h4 {
    font-size: 16px;
    color: whitesmoke;
    font-weight: 700;
  }

  p {
    font-weight: 300;
    color: whitesmoke;
    font-size: 15px;
    margin-bottom: 10px;
  }

  form {
    position: relative;
    width: 100%;
    text-align: center;
  }

  .btn {
    background-color: #a60808;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: whitesmoke;
    font-family: "Arial";
    font-size: 15px;
    font-weight: bold;
    padding: 8px 30px;
    text-decoration: none;
    text-shadow: 0 1px 0 black;
    border: none;
    transition: all 0.4s ease 0s;
  }

  .btn:hover {
    background-color: #c72727;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
  }

  .btn:active {
    position: relative;
    top: 1px;
  }

  label {
    font-size: 12px;
    font-weight: 700;
  }
</style>

<div class="Newsletter">
  <h4>Suscribirse</h4>
  <p>
    Recibe las últimas novedades de los proyectos que estoy realizando y las
    publicaciones que haga en este Blog.
  </p>
  <form
    action="https://tinyletter.com/Frenrihr"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://tinyletter.com/Frenrihr', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <p><label for="tlemail">Introduce la dirección de tu correo</label></p>
    <p><input type="email" name="email" id="tlemail" required /></p>
    <input type="hidden" value="1" name="embed" />
    <button class="btn" type="submit" value="Subscribe">Suscribirse</button>
    <p>
      <a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a>
    </p>
    <p>No enviamos spam.</p>
  </form>
</div>
