<script>
  import readingTime from "../utils/readingTime";
  import emojiTag from "../utils/emojiTag";
  import formatIsoTime from "../utils/formatIsoTime";

  export let post;
</script>

<style>
  .Post-item {
    color: white;
    position: relative;
  }
  .Post-card {
    background-color: black;
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(28, 41, 56, 0.16),
      0 3px 6px rgba(28, 41, 56, 0.23);
    font-size: 16px;
    font-weight: 300;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    position: relative;
  }
  .Post-title {
    font-size: 20px;
    margin: 0;
    padding: 0 15px;
  }
  .Post-title p {
    color: white;
    font-size: 13px;
    font-weight: 300;
    margin-top: 5px;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: white;
  }
  .Post-desc p {
    color: white;
    font-size: 15px;
    line-height: 28px;
    margin: 0 auto;
    padding: 0 15px 15px 15px;
  }
  .dot {
    font-weight: 700;
  }
  .Post-img img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  @media (max-width: 768px) {
    .Post-title {
      font-size: 16px;
    }
    .Post-desc p {
      color: white;
      font-size: 14px;
    }
  }
</style>

<div class="Post-item">
  <div class="Post-card">
    <div class="Post-img">
      <a href="blog/{post.slug}" rel="prefetch">
        <img src={post.image} alt={post.title} /></a>
    </div>
    <div class="Post-title">
      <h2>
        <a href="blog/{post.slug}" rel="prefetch">{emojiTag(post.tag)}
          {post.title}</a>
      </h2>
      <p>
        <time datetime={post.createdAt}>📅 {formatIsoTime(post.createdAt)}</time>
        <span class="dot">.</span>
        <span>{readingTime(post.html)}</span>
      </p>
    </div>
    <div class="Post-desc">
      <p>{post.desc}...</p>
    </div>
  </div>
</div>
