<script>
  import Newsletter from "./Newsletter.svelte";
  import emojiTag from "../utils/emojiTag";

  export let categories = ["general", "proyectos", "documentacion", "movil", "tutoriales"];
</script>

<style>
  .Tags {
    background: rgba(28, 41, 56, 1);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(28, 41, 56,0.16), 0 3px 6px rgba(28, 41, 56,0.23);
    margin-top: 1em;
    text-align: center;
  }
  .Tags p {
    padding: 0;
    margin: 0;
  }
  .Tag-badge {
    display: inline-block;
    margin: .6em .4em;
  }
  .Tag-badge a {
    text-decoration: none;
    background-color: #a60808;
    padding: .3em .6em .3em .3em;
    border-radius: 25px;
    font-size: 14px;
    text-align: center;
    color: #fefefe;
    border: 3px solid #a60808;
  }
  .Tag-badge a:hover {
    background-color: transparent;
  }
</style>

<div class="Sidebar">
  <Newsletter />
  <div class="Tags">
    <p>Categorías</p>
    {#each categories as category}
      <div class="Tag-badge">
        <a href="category/{category}">{emojiTag(category)} {category}</a>
      </div>
    {/each}
  </div>
</div>
